body{
    background-color: aliceblue;
}

main{
    margin-top: 100px;
    text-align: center;
}

img{
    width: 400px;
    height: 400px;
    margin: 20px;
}

ul, li{
    list-style: none;
    max-width: length;
    margin: 20px;
    text-align: center;
    align-self: center;
}

form{
    margin-bottom: 150px;
}

button{
    margin-top: 20px;
    margin-left: 100px;
}


.form {
    width: 400px;
    border: 2px solid grey;
    padding: auto;
    margin: auto;
}