h1,main,.links, nav{
    text-align: center;
}


body{
    background-color: rgb(229, 239, 248);
}

nav{
    background-color: white;
    padding: 20px;
    margin-top: 50px;
    text-decoration: none;
    text-size-adjust: large;
}


ul{
    list-style: none;
}

li{
    font-size: xx-large;
    display: inline;
    padding-right: 15px;
}


a{
    color: rgb(125, 168, 233);
    text-decoration: none;
}

h1{
    padding-top: 90px;
}


.post{
    background-color: aliceblue;
    font-size: large;
    border: 1px solid aliceblue;
    border-radius: 5px;
    margin-left: 500px;
    margin-right: 500px;
}

.form{
    background-color: rgba(169, 189, 218, 0.822);
    border: 1px solid  rgba(169, 189, 218, 0.822);
    border-radius: 5px;
    margin-left: 500px;
    margin-right: 500px;
}

.links{
    border: 2px solid rgb(125, 168, 233);
    border-radius: 5px;
    margin-left: 500px;
    margin-right: 500px;
    

}

.imageurl {
   max-width: 400px;
   height: auto;
}

.neuer-beitrag {
    padding: 20px;
}